{% extends 'base.html' %}

{% block content %}
    <div class="content-card">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-bold">Novo Curso / Disciplina</h2>
            <span class="small opacity-75">Gestão de Conteúdo Educacional (RF005)</span>
        </div>
    

    {% if sucesso %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> Curso cadastrado com êxito.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ops! Verifique os erros abaixo:</strong>
            <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="row g-3 mb-4">
            <div class="col-md-8">
                <label class="form-label">{{ form.nome_curso.label }}</label>
                {{ form.nome_curso }}
            </div>
            <div class="col-md-4">
                <label class="form-label">{{ form.status.label }}</label>
                {{ form.status }}
            </div>
            <div class="col-12">
                <label class="form-label">{{ form.descricao_ementa.label }}</label>
                {{ form.descricao_ementa }}
            </div>
        </div>

        <hr class="border-white opacity-25 my-4">

        <h5 class="mb-3 text-white-50">Estrutura e Responsável</h5>
        
        <div class="row g-3">   
            <div class="col-md-6">
                <label class="form-label fw-bold text-warning">{{ form.professor_responsavel.label }}</label>
                {{ form.professor_responsavel }}
                <div class="form-text text-white-50 small">Apenas Professores com status 'Ativo' aparecem aqui. </div>
            </div>

            <div class="col-md-3">
                <label class="form-label">{{ form.carga_horaria.label }}</label>
                {{ form.carga_horaria }}
            </div>

            <div class="col-md-3">
                <label class="form-label">{{ form.modalidade.label }}</label>
                {{ form.modalidade }}
            </div>

            <div class="col-12">
                <label class="form-label">{{ form.modulos_aulas.label }}</label>
                {{ form.modulos_aulas }}
                <div class="form-text text-white-50 small">Descreva a divisão dos módulos (Ex: Módulo 1 - Introdução...)</div>
            </div>
        </div>

            <div class="d-flex justify-content-end gap-2 mt-4">
                <button type="reset" class="btn btn-outline-light text-dark border-dark">Limpar</button>
                <button type="submit" class="btn btn-orange px-4">Salvar Curso</button>
            </div>
        </form>
    </div>
{% endblock %}

{% comment %}
<!--
    1º {% csrf_token %}

    oque é? Funciona como um Guarda-costas do Formulário.

    --Sempre que for visto {% %}, significa que é uma Ação ou um Comando Lógico (como IF, FOR ou comandos de segurança).
    
    Oque ele faz?
       --Ele gera, invisivelmente, um token (código) único para cada formulário que é gerado na página.
         Quando clicamos em "Salvar", o Django verifica se o código que veio do formulário bate com o código que ele gerou.

    Por que é obrigatório?
    -- Sem isso, umsite malicioso poderia tentar "postar" dados falsos no seu sie fingindo ser o usuário(ataque chamado Cross-Site Request Forgery)

    2º {{ form.nome_curso.label }}

    oque é? É o "Impresso" de Dados.

    -- Sempre que for visto {{ }}, significa imprima uma Variável. Pedimos ao Django para pegar algo que está no Python e escrever na tela.
       a) form: É o objeto que passamos lá na View (form = CursoForm())
       b) .nome_curso: É o campo específico que definimos no models.py e forms.py
       c) .label: Aqui está o pulo do gato. Em vez de escrevermos <label>Nome do Curso</label> na mão,
           pedimos para o Django pegar o verbose_name ("Nome do Curso/Disciplina") que definimos lá no models.py
-->

{% endcomment %}
