{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educamais - Sistema Prisional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse pt-3 position-relative">

                <img src="{% static 'img/logo.png' %}" alt="Logo Educamais" class="img-fluid"
                    style="position: absolute; width: 125px; height: 115px; left: 18px; top: 2px; z-index: 10; mix-blend-mode: multiply;">

                <div style="margin-top: 90px;"></div>

                <div class="position-sticky">
                    <ul class="nav flex-column gap-2">

                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link text-white">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white dropdown-toggle" href="#" data-bs-toggle="collapse"
                                data-bs-target="#submenuCadastros">
                                Cadastros
                            </a>
                            <div class="collapse ps-3" id="submenuCadastros">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="{% url 'cadastro_aluno' %}" class="nav-link text-white opacity-75">Novo
                                            Aluno</a></li>
                                    <li><a href="{% url 'cadastro_professor' %}"
                                            class="nav-link text-white opacity-75">Novo Professor</a></li>
                                    <li><a href="{% url 'cadastro_curso' %}"
                                            class="nav-link text-white opacity-75">Cursos</a></li>
                                    <li><a href="{% url 'cadastro_matricula' %}"
                                            class="nav-link text-white opacity-75">Nova Matrícula</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'painel_relatorios' %}" class="nav-link text-white">Relatórios</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'lancamento_nota' %}" class="nav-link text-white">Lançar Notas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white dropdown-toggle" href="#" data-bs-toggle="collapse"
                                data-bs-target="#submenuUsuarios">
                                Usuários
                            </a>
                            <div class="collapse ps-3" id="submenuUsuarios">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="{% url 'cadastro_administrador' %}"
                                            class="nav-link text-white opacity-75">Novo Admin/Operador</a></li>
                                    <li><a href="{% url 'cadastro_gestor' %}"
                                            class="nav-link text-white opacity-75">Novo Gestor</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white dropdown-toggle" href="#" data-bs-toggle="collapse"
                                data-bs-target="#submenuConfig">
                                Configurações
                            </a>
                            <div class="collapse ps-3" id="submenuConfig">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="{% url 'gerenciar_home' %}"
                                            class="nav-link text-white opacity-75">Editar Home Page</a></li>
                                    <li><a href="#" class="nav-link text-white opacity-75">Backup (Futuro)</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link text-white">Ajuda</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">

                {% block content %}
                {% endblock %}

                <footer class="mt-5 text-center text-white small opacity-75">
                    &copy; 2025 Sistema Educacional Para Pessoas Privadas de Liberdade – Prototipo
                </footer>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>